<h1>Добавить статью</h1> <br>


<div class="tab-v2 margin-bottom-40">
        <ul class="nav nav-tabs" id="myTab"  >
            <li  id="alert-1-li"      class="active" ><a   href="#alert-1" data-toggle="tab" id="tab5">Основная информация</a></li>
            <li id="alert-2-li" ><a href="#alert-2" data-toggle="tab" id="tab4">Дополнительные фотографии</a></li>
            
        </ul>
        
        <div class="tab-content">
               
             <div class="tab-pane fade in active " id="alert-1">

<form method="post" action="" enctype="multipart/form-data" >
    
  <div class="row">
  <div class="col-md-12">
   
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" id="title" name="title" value="" class="form-control" />
    </div>
     <div class="form-group">
        <label for="title">Отображать на сайте</label>
        <input type="checkbox" id="title" name="title" value=""  />
    </div>
   
   
     <div class="form-group">
        Основное фото: <input name="file" type="file" /><br>
    </div> 
   
    <div class="form-group">
        <label for="title">Название страницы "title"</label>
        <input type="text" id="title" name="title" value="" class="form-control" />
    </div>
    
     <div class="form-group">
        <label for="content">Краткое описание</label>
        <textarea name="short_content" id="short_content" class="form-control"></textarea>
    </div>
     <div class="form-group">
        <label for="content">Введите текст события (отображается в начале)</label>
        <textarea name="start_content" id="start_content" class="form-control"></textarea>
    </div>
     <div class="form-group">
        <label for="content">Введите текст события (отображается в конце)</label>
        <textarea name="end_content" id="end_content" class="form-control"></textarea>
    </div>
    
    
   
</div>
     
             
           
    <div class="form-group  col-md-12">
    <input type="submit" value="Сохранить" class="btn btn-success" />
    
    </div>
    
</form>


               
               
               
               
   </div>             
               
          
       </div>   
          
    <div class="tab-pane fade in " id="alert-2">  
    
  <h2>Дополнительное фото</h2>
    <div class="form-group">
        Выберите файлы что бы загрузить: <input name="file" type="file" /><br>
    </div>
    
       
        </div>  
           </div>   </div>   


<script src="/tinymce/tinymce/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({
    selector: "#short_content",theme: "modern",width: 840,height: 100,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak",
         "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
         "table contextmenu directionality emoticons paste textcolor responsivefilemanager code"
   ],
   toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
   toolbar2: "| responsivefilemanager | link unlink anchor |  media | forecolor backcolor  | print preview code ",
   image_advtab: true ,
   
   external_filemanager_path:"/filemanager/",
   filemanager_title:"Responsive Filemanager" ,
   external_plugins: { "filemanager" : "/tinymce/js/tinymce/plugins/responsivefilemanager/plugin.min.js"}
 });</script>
 <script>tinymce.init({
    selector: "#start_content",theme: "modern",width: 840,height: 300,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak",
         "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
         "table contextmenu directionality emoticons paste textcolor responsivefilemanager code"
   ],
   toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
   toolbar2: "| responsivefilemanager | link unlink anchor |  media | forecolor backcolor  | print preview code ",
   image_advtab: true ,
   
   external_filemanager_path:"/filemanager/",
   filemanager_title:"Responsive Filemanager" ,
   external_plugins: { "filemanager" : "/tinymce/js/tinymce/plugins/responsivefilemanager/plugin.min.js"}
 });</script>
 <script>tinymce.init({
    selector: "#end_content",theme: "modern",width: 840,height: 300,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak",
         "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
         "table contextmenu directionality emoticons paste textcolor responsivefilemanager code"
   ],
   toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
   toolbar2: "| responsivefilemanager | link unlink anchor |  media | forecolor backcolor  | print preview code ",
   image_advtab: true ,
   
   external_filemanager_path:"/filemanager/",
   filemanager_title:"Responsive Filemanager" ,
   external_plugins: { "filemanager" : "/tinymce/js/tinymce/plugins/responsivefilemanager/plugin.min.js"}
 });</script>