<form method="post" action="" enctype="multipart/form-data" >
    
  <div class="row">
  <div class="col-md-8">
   
   
    
   
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" id="title" name="title" value="" class="form-control" />
    </div>
    
   
             
           
    <div class="form-group  col-md-12">
    <input type="submit" value="Добавить" class="btn btn-success" />
    </div>
</form>
 </div>
  </div>