<table class="table table-striped" >
    <tr>
        
        <td ><small>Порядок</small></td>
        <td ><small>Название</small></td>
        <td ><small>Отображать  </small></td>
       
        <td ><small>Редактировать</small></td>
        <td ><small>Удалить</small></td>
        
    </tr>
    <?php foreach($data['menu'] as $menu) { ?>
    <tr>
        <td><small><?=$menu['id']?></small></td>
        <td><small><?=$menu['menu_name']?></small></td>
        <td><small><?=$menu['show']?></small></td>
        
        <td><small>#</small></td>
        <td><small>#</small></td>
        
       
    </tr>
    <?php } ?>
</table>