<table class="table table-striped" >
    <tr>
        <td ><small>logo</small></td>
        <td ><small>id</small></td>
        <td ><small>Позиция</small></td>
        <td ><small>Название</small></td>
        <td ><small>Отображать на главной </small></td>
        <td ><small>Отображать ссылку</small></td>
        <td ><small>Редактировать</small></td>
        <td ><small>Удалить</small></td>
        
    </tr>
    <?php foreach($data['brands'] as $brand) { ?>
    <tr>
        <td><small><?=$brand['logo_link']?></small></td>
        <td><small><?=$brand['id']?></small></td>
        <td><small><?=$brand['position']?></small></td>
        <td><small><?=$brand['brand_name']?></small></td>
        <td><small><?=$brand['show_on_main']?></small></td>
        <td><small><?=$brand['show_ref']?></small></td>
        <td><small>#</small></td>
        <td><small>#</small></td>
        
       
    </tr>
    <?php } ?>
</table>