<h3>Добавить меню</h3><br/>

<form method="post" action="" enctype="multipart/form-data" >
    
  <div class="row">
  <div class="col-md-8">
    <input type="submit" value="Сохранить" class="btn btn-success" /><br><br>
   
    
   
    <div class="form-group">
        <label for="title">Название меню</label>
        <input type="text" id="title" name="title" value="" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="title">Отображать</label>
        <input type="checkbox" id="title" name="start_date" value=""  />
    </div>
    <h3>Привязка</h3>
    <hr>   <select>
         <option>Сделайте выбор</option>
        
           </select>
    <div class="form-group">
        <div class="radio">
        <input type="radio" name="optionsRadios" id="radio1" checked/>Материал
        </div>
        <div class="radio">
         <input type="radio" name="optionsRadios" id="radio2" />Главная страница
          </div>
        <div class="radio">
          <input type="radio" name="optionsRadios" id="radio3" />Контакты
           </div>
        <div class="radio">
           <input type="radio"  name="optionsRadios" id="radio4" />Каталог
            </div>
        <div class="radio">
            <input type="radio" name="optionsRadios" id="radio5" />Новости
             </div>
        <div class="radio">
             <input type="radio" name="optionsRadios" id="radio6"/>Бренды
              </div>
        <div class="radio">
              <input type="radio" name="optionsRadios" id="radio7" />Экспозиция
               </div>
       
    
   
    
   
    
    </div>
</div>
     
   
    
             
           
    <div class="form-group  col-md-12">
    <input type="submit" value="Сохранить" class="btn btn-success" />
    </div>
</form>

<script src="/tinymce/tinymce/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({
    selector: "#short_content",theme: "modern",width: 840,height: 100,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak",
         "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
         "table contextmenu directionality emoticons paste textcolor responsivefilemanager code"
   ],
   toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
   toolbar2: "| responsivefilemanager | link unlink anchor |  media | forecolor backcolor  | print preview code ",
   image_advtab: true ,
   
   external_filemanager_path:"/filemanager/",
   filemanager_title:"Responsive Filemanager" ,
   external_plugins: { "filemanager" : "/tinymce/js/tinymce/plugins/responsivefilemanager/plugin.min.js"}
 });</script>
 <script>tinymce.init({
    selector: "#content",theme: "modern",width: 840,height: 300,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak",
         "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
         "table contextmenu directionality emoticons paste textcolor responsivefilemanager code"
   ],
   toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
   toolbar2: "| responsivefilemanager | link unlink anchor |  media | forecolor backcolor  | print preview code ",
   image_advtab: true ,
   
   external_filemanager_path:"/filemanager/",
   filemanager_title:"Responsive Filemanager" ,
   external_plugins: { "filemanager" : "/tinymce/js/tinymce/plugins/responsivefilemanager/plugin.min.js"}
 });</script>