<table class="table table-striped" >
    <tr>
        
        
        <td ><small>id</small></td>
        <td ><small>Название</small></td>
        <td ><small>Отображать</small></td>
        <td ><small>Создана</small></td>
        <td ><small>Обновлено</small></td>
        <td ><small>Редактировать</small></td>
        <td ><small>Удалить</small></td>
        
    </tr>
    <?php foreach($data['contents'] as $content) { ?>
    <tr>
        <td><small><?=$content['id']?></small></td>
        <td><small><?=$content['name']?></small></td>
        <td><small><?=$content['show']?></small></td>
        <td><small><?=$content['date']?></small></td>
        <td><small><?=$content['date_updated']?></small></td>
        <td><small>#</small></td>
        <td><small>#</small></td>
        
       
    </tr>
    <?php } ?>
</table>