<table class="table table-striped" >
    <tr>
        <td ><small>Порядок</small></td>
        <td ><small>Название</small></td>
        <td ><small>Отображать</small></td>
        <td ><small>Есть товары</small></td>
        <td ><small>Создана</small></td>
        <td ><small>Последнее обновление</small></td>
        <td ><small>Редактировать</small></td>
        <td ><small>Удалить</small></td>
        
    </tr>
    <?php foreach($data['categorys'] as $category) { ?>
    <tr>
        <td><small><?=$category['position']?></small></td>
        <td><small><?=$category['category_name']?></small></td>
        <td><small><?=$category['show']?></small></td>
        <td><small>#</small></td>
        <td><small><?=$category['date']?></small></td>
        <td><small><?=$category['date_updated']?></small></td>
        <td><small>#</small></td>
        <td><small>#</small></td>
        
        
       
    </tr>
    <?php } ?>
</table>