<table class="table table-striped" >
    <tr>
        
        
        <td ><small>id</small></td>
        <td ><small>Название</small></td>
        <td ><small>Отображать</small></td>
        <td ><small>Создана</small></td>
        <td ><small>Редактировать</small></td>
        <td ><small>Удалить</small></td>
        
    </tr>
    <?php foreach($data['news'] as $new) { ?>
    <tr>
        <td><small><?=$new['id']?></small></td>
        <td><small><?=$new['news_name']?></small></td>
        <td><small><?=$new['show']?></small></td>
        <td><small><?=$new['date']?></small></td>
        
        <td><small>#</small></td>
        <td><small>#</small></td>
        
       
    </tr>
    <?php } ?>
</table>