

<form method="post" action="" enctype="multipart/form-data" >
    
  <div class="row">
  <div class="col-md-8">
   
   
    
   
    <div class="form-group">
        <label for="title">Логин</label>
        <input type="text" id="title" name="title" value="" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="title">Пароль</label>
        <input type="text" id="title" name="start_date" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="title">Email</label>
        <input type="text" id="title" name="end_date" value="" class="form-control" />
    </div>
    
    
           
    <div class="form-group  col-md-12">
    <input type="submit" value="Сохранить" class="btn btn-success" />
    </div>
</form>

