<h3>Изменить проект</h3><br/>

<form method="post" action="" enctype="multipart/form-data" >
    
  <div class="row">
  <div class="col-md-8">
    <input type="submit" value="Сохранить" class="btn btn-success" /><br><br>
   
    <input type="hidden" name="id" value="<?=$data['project']['id']?>"  />
   
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" id="name" name="name" value="<?=$data['project']['name']?>" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="title">Дата подписания</label>
        <input type="text" id="start" name="start" value="<?=$data['project']['start']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="title">Дата сдачи</label>
        <input type="text" id="finish" name="finish" value="<?=$data['project']['finish']?>" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="title">Стиль</label>
        <input type="text" id="style" name="style" value="<?=$data['project']['style']?>" class="form-control" />
    </div>
    
   
    
    </div>
</div>
     <div class="row">
         <div class="col-md-9">
    <div class="form-group">
        <label for="content">Краткое содержание(отображается на главной странице сайта) </label>
        <textarea name="short_content" id="short_content" class="form-control"><?=$data['project']['minidescr']?></textarea>
    </div>
       </div>
         <div class="col-md-3">
             
            
    </div> 
    </div>
   
    <div class="form-group">
        <label for="content">Полное содержание</label>
        <textarea name="content" id="content" class="form-control"><?=$data['project']['descr']?></textarea>
    </div>
       
      <img src="<?=$data['project']['photo']?>" >   
     <div class="form-group">
        Главное фото: <input name="foto" type="file" /><br>
        
    </div> 
    
    
             
           
    <div class="form-group  col-md-12">
    <input type="submit" value="Сохранить" class="btn btn-success" />
    </div>
</form>

<script>
    var dateOptions = {dateFormat:'dd.mm.yyyy'};
    $("#start").datepicker(dateOptions);
    $("#finish").datepicker(dateOptions);
</script>



<script src="/tinymce/tinymce/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({
    selector: "#short_content",theme: "modern",width: 840,height: 100,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak",
         "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
         "table contextmenu directionality emoticons paste textcolor responsivefilemanager code"
   ],
   toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
   toolbar2: "| responsivefilemanager | link unlink anchor |  media | forecolor backcolor  | print preview code ",
   image_advtab: true ,
   
   external_filemanager_path:"/filemanager/",
   filemanager_title:"Responsive Filemanager" ,
   external_plugins: { "filemanager" : "/tinymce/js/tinymce/plugins/responsivefilemanager/plugin.min.js"}
 });</script>
 <script>tinymce.init({
    selector: "#content",theme: "modern",width: 840,height: 300,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak",
         "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
         "table contextmenu directionality emoticons paste textcolor responsivefilemanager code"
   ],
   toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
   toolbar2: "| responsivefilemanager | link unlink anchor |  media | forecolor backcolor  | print preview code ",
   image_advtab: true ,
   
   external_filemanager_path:"/filemanager/",
   filemanager_title:"Responsive Filemanager" ,
   external_plugins: { "filemanager" : "/tinymce/js/tinymce/plugins/responsivefilemanager/plugin.min.js"}
 });</script>