<table class="table table-striped" >
    <tr>
        <td ><small>#</small></td>
        <td ><small>Имя проекта</small></td>
        <td ><small>Дата добавления </small></td>
        <td ><small>Радактировать</small></td>
        
    </tr>
    <?php foreach($data['project'] as $project) { ?>
    <tr>
        <td><small><?=$project['id']?></small></td>
        <td><small><?=$project['name']?></small></td>
        <td><small><?=$project['start']?></small></td>
        <td><small><a href="/admin/settings/project_edit/<?=$project['id']?>"><img  
    height="25" src="/upload/img/edit.png"></a></small></td>
       
    </tr>
    <?php } ?>
</table>