
<div class="tab-v2 margin-bottom-40">
        <ul class="nav nav-tabs" id="myTab"  >
            <li  id="alert-1-li"      class="active" ><a   href="#alert-1" data-toggle="tab" id="tab5">Существующие баннеры</a></li>
            <li id="alert-2-li" ><a href="#alert-2" data-toggle="tab" id="tab4">Новый банер</a></li>
            
        </ul>
        
        <div class="tab-content">
               
             <div class="tab-pane fade in active " id="alert-1">

<form method="post" action="" enctype="multipart/form-data" >
    
  <div class="row">
  <div class="col-md-12">
   
   Текущее фото:<img >
   Новое фото:
     <div class="form-group">
        Выберите фото: <input name="file" type="file" /><br>
    </div> 
   
    <div class="form-group">
        <label for="title">Позиция</label>
        <input type="text" id="title" name="title" value="" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="title">Ссылка куда указывает банер</label>
        <input type="text" id="title" name="start_date" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="title">Текст на кнопке</label>
        <input type="text" id="title" name="end_date" value="" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="title">Название баннера</label>
        <input type="text" id="title" name="style" value="" class="form-control" />
    </div>
    
   <div class="form-group">
        <label for="title">Краткий текст под названием</label>
        <input type="text" id="title" name="style" value="" class="form-control" />
    </div>
    
    </div>
</div>
     
             
           
    <div class="form-group  col-md-12">
    <input type="submit" value="Обновить" class="btn btn-success" />
    <input type="submit" value="Удалить" class="btn btn-danger" />
    </div>
    
</form>


               
               
               
               
                
               
          
       </div>   
          
    <div class="tab-pane fade in " id="alert-2">  
    
  
    
    
    
      </div>    
        </div>  
           </div>     







