<table class="table table-striped" >
    <tr>
        <td ><small>порядок</small></td>
        <td ><small>Арт</small></td>
        <td ><small>Название</small></td>
        <td ><small>Название на русском </small></td>
        <td ><small>Категория</small></td>
        <td ><small>Бренд</small></td>
        <td ><small>Стиль</small></td>
        <td ><small>На сайте</small></td>
        <td ><small>На витрине</small></td>
        <td ><small>Создан</small></td>
        <td ><small>Изменен</small></td>
        <td ><small>Удалить</small></td>
        <td ><small>Редактировать</small></td>
        
    </tr>
    <?php foreach($data['products'] as $product) { ?>
    <tr>
        <td><small><?=$product['id']?></small></td>
        <td><small><?=$product['articul']?></small></td>
        <td><small><?=$product['name']?></small></td>
        <td><small><?=$product['name_ru']?></small></td>
        <td><small><?=$product['category_name']?></small></td>
        <td><small><?=$product['brand_name']?></small></td>
        <td><small><?=$product['style_name']?></small></td>
        <td><small><?=$product['main']?></small></td>
        <td><small><?=$product['show_in_expo']?></small></td>
        <td><small><?=$product['date']?></small></td>
        <td><small><?=$product['date_upd']?></small></td>
       
        <td><small>#</small></td>
        <td><small>#</small></td>
        
       
    </tr>
    <?php } ?>
</table>



<nav aria-label="...">
  <ul class="pagination">
 <?php  foreach ($data['buttons'] as $button) :  ?>
 
     <?php     if($button->IsActive) :   ?>
     
     
     <li class="page-item "> <a class="page-link"  id="button-<?=$button->page?>" href="?page=<?=$button->page ?>" data-page="<?=$button->page?>"> <?=$button->text?> <span class="sr-only">(current)</span></a></li>
     
      <?php  else :  ?>
      
      <?php if((isset($_GET['page'])?$_GET['page']:1)==$button->page) { ?>
     <li class="page-item active "> <a class="page-link"  id="button-<?=$button->page?>" href="?page=<?=$button->page ?>" data-page="<?=$button->page?>"> <?=$button->text?> <span class="sr-only">(current)</span></a></li>
      <?php } else { ?>
     <li class="page-item disabled"><a class="page-link"  href="#" aria-label="Previous"><span aria-hidden="true">&laquo; <?=$button->text?> </span>   </a></li>
       <?php } ?>   
   <?php  endif ?>
   
 <?php endforeach; ?>
 </ul>
</nav>      