<table class="table table-striped" >
    <tr>
        <td ><small>#</small></td>
        <td ><small>Название</small></td>
        <td ><small>Редактировать </small></td>
        <td ><small>Удалить</small></td>
        
        
    </tr>
    <?php foreach($data['styles'] as $style) { ?>
    <tr>
        <td><small><?=$style['id']?></small></td>
        <td><small><?=$style['style_name']?></small></td>
        <td><small>#</small></td>
        <td><small>#</small></td>
        
       
    </tr>
    <?php } ?>
</table>