<table class="table table-striped" >
    <tr>
        <td ><small>#</small></td>
        <td ><small>uri</small></td>
        <td ><small>title </small></td>
        <td ><small>meta discription</small></td>
        <td ><small>действие</small></td>
        
    </tr>
    <?php foreach($data['seo'] as $seo) { ?>
    <tr>
        <td><small><?=$seo['id']?></small></td>
        <td><small><?=$seo['uri']?></small></td>
        <td><small><?=$seo['title']?></small></td>
        <td><small><?=$seo['desc']?></small></td>
        <td><small>#</small></td>
       
    </tr>
    <?php } ?>
</table>