<h3>Добавить продукт</h3><br/>

<form method="post" action="" enctype="multipart/form-data" >
    
  <div class="row">
  <div class="col-md-8">
    <input type="submit" value="Сохранить" class="btn btn-success" /><br><br>
   
    
   
    <div class="form-group">
        <label for="title">Название товара </label>
        <input type="text" id="title" name="title" value="" class="form-control" />
    </div>
   <div class="form-group">
        <label for="content">Описание товара</label>
        <textarea name="short_content" id="short_content" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="title">Артикул</label>
        <input type="text" id="title" name="title" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="title">Цена</label>
        <input type="text" id="title" name="title" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="title">Цена со скидкой</label>
        <input type="text" id="title" name="title" value="" class="form-control" />
    </div>
     <div class="form-group">
        <label for="title">Категории</label>
        <select>
            <option> Не указано</option>
        </select>
    </div>
     <div class="form-group">
        <label for="title">Бренд</label>
        <select>
            <option> Не указано</option>
        </select>
    </div>
     <div class="form-group">
        <label for="title">Стиль</label>
        <select>
            <option> Не указано</option>
        </select>
    </div>
     <div class="form-group">
        <label for="title">Отображать</label>
        <input type="checkbox" id="title" name="title" value=""  />
    </div>
     <div class="form-group">
        <label for="title">Показывать на главной</label>
        <input type="checkbox" id="title" name="title" value=""  />
    </div>
     <div class="form-group">
        <label for="title">В экспозиции</label>
        <input type="checkbox" id="title" name="title" value=""  />
    </div>
     <div class="form-group">
        <label for="title">Новый продукт</label>
        <input type="checkbox" id="title" name="title" value=""  />
    </div>
     <div class="form-group">
        <label for="title">Новый в коллекции</label>
        <input type="checkbox" id="title" name="title" value=""  />
    </div>
    
     <div class="form-group">
        Главное фото: <input name="file" type="file" /><br>
     </div>
     <div class="form-group">
        Дополнительные изображения: <input name="file" type="file" /><br>
     </div>
    
    <div class="form-group">
        <label for="title">Название страницы "title"</label>
        <input type="text" id="title" name="start_date" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="title">Описание "description"</label>
        <input type="text" id="title" name="end_date" value="" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="content">Введите описание </label>
        <textarea name="content" id="content" class="form-control"></textarea>
    </div>
    
   
           
    <div class="form-group  col-md-12">
    <input type="submit" value="Добавить" class="btn btn-success" />
    </div>
</form>

<script src="/tinymce/tinymce/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({
    selector: "#short_content",theme: "modern",width: 840,height: 100,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak",
         "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
         "table contextmenu directionality emoticons paste textcolor responsivefilemanager code"
   ],
   toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
   toolbar2: "| responsivefilemanager | link unlink anchor |  media | forecolor backcolor  | print preview code ",
   image_advtab: true ,
   
   external_filemanager_path:"/filemanager/",
   filemanager_title:"Responsive Filemanager" ,
   external_plugins: { "filemanager" : "/tinymce/js/tinymce/plugins/responsivefilemanager/plugin.min.js"}
 });</script>
 <script>tinymce.init({
    selector: "#content",theme: "modern",width: 840,height: 300,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak",
         "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
         "table contextmenu directionality emoticons paste textcolor responsivefilemanager code"
   ],
   toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
   toolbar2: "| responsivefilemanager | link unlink anchor |  media | forecolor backcolor  | print preview code ",
   image_advtab: true ,
   
   external_filemanager_path:"/filemanager/",
   filemanager_title:"Responsive Filemanager" ,
   external_plugins: { "filemanager" : "/tinymce/js/tinymce/plugins/responsivefilemanager/plugin.min.js"}
 });</script>