

  <div class="col-md-10 ">
     
<table class="table table-striped" >
    <tr>
        <td ><small>#</small></td>
        <td ><small>Когда пришел запрос</small></td>
        <td ><small>Имя заказчика</small></td>
        <td ><small>Товар</small></td>
        <td ><small>Телефон</small></td>
        <td ><small>Город</small></td>
        <td ><small>Email</small></td>
        <td ><small>Ответственный менеджер</small></td>
        <td ><small>Текущий статус</small></td>
        <td ><small>Комментарии</small></td>
    </tr>
    <?php foreach($data['customers'] as $customer) { ?>
    <tr>
        <td><small><?=$customer['customer_id']?></small></td>
        <td><small><?=$customer['d']?></small></td>
        <td><small><?=$customer['user_name']?></small></td>
        <td><small><?=$customer['products']?></small></td>
        <td><small><?=$customer['phone']?></small></td>
        <td><small><?=$customer['city']?></small></td>
        <td><small><?=$customer['email']?></small></td>
        <td><small><?=$customer['name']?></small></td>
        <td><small><?=$customer['state']?></small></td>
        <td><a  id="customer_<?=$customer['customer_id']?>" data-id="<?=$customer['customer_id']?>" ><small>Комментариев: <?=$customer['comments']?></small></a></td>
    </tr>
    <?php } ?>
</table>


<nav aria-label="...">
  <ul class="pagination">
 <?php  foreach ($data['buttons'] as $button) :  ?>
 
     <?php     if($button->IsActive) :   ?>
     
     
     <li class="page-item "> <a class="page-link"  id="button-<?=$button->page?>" href="?page=<?=$button->page ?>" data-page="<?=$button->page?>"> <?=$button->text?> <span class="sr-only">(current)</span></a></li>
     
      <?php  else :  ?>
      
      <?php if((isset($_GET['page'])?$_GET['page']:1)==$button->page) { ?>
     <li class="page-item active "> <a class="page-link"  id="button-<?=$button->page?>" href="?page=<?=$button->page ?>" data-page="<?=$button->page?>"> <?=$button->text?> <span class="sr-only">(current)</span></a></li>
      <?php } else { ?>
     <li class="page-item disabled"><a class="page-link"  href="#" aria-label="Previous"><span aria-hidden="true">&laquo; <?=$button->text?> </span>   </a></li>
       <?php } ?>   
   <?php  endif ?>
   
 <?php endforeach; ?>
 </ul>
</nav>      

<div id="modal_form"><!-- Сaмo oкнo --> 
      <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть --> 
      <span id="content_modal_form">
      <!-- Тут любoе сoдержимoе -->
      </span>
</div>
<div id="overlay"></div><!-- Пoдлoжкa -->

</div>
  
 <div class="col-md-2">
     
     
   
  <button type="button" class="btn btn-success btn-xs"><small>Перейти на сайт</small></button>&nbsp;&nbsp;
  <button type="button" class="btn btn-danger btn-xs"><small>Выход</small></button> 
  <!--<a ><h3 class="bg-primary">Проекти</h3></a>--><br><br>
  <button type="button" class="btn btn-primary btn-lg">Проекти</button>
  <a href="/admin/settings/project"><button type="button" class="btn btn-info btn-xs ">Упраление проектами</button></a>
  <a href="/admin/settings/project_add" ><button type="button" class="btn btn-info btn-xs">Добавить проект</button></a>
  <!--<a href="/admin/settings/project"><h5 class="bg-info">Упраление проектами</h5></a>--
  <!--<a href="/admin/settings/project_add" ><h5 class="bg-info">Добавить проект</h5></a> <br>-->
  <!--<button type="button" class="btn btn-default">Default</button>-->
  <a ><h3 class="bg-primary">Seo</h3></a>
  <a href="/admin/settings/seo"><h5 class="bg-info">Материалы на страницах</h5></a><br>
  
  <a ><h3 class="bg-primary">Баннеры на главной странице</h3></a>
  <a href="/admin/settings/editmainpage"><h5 class="bg-info">Редактировать</h5></a> <br>
  
  <a ><h3 class="bg-primary">Заказы</h3></a>
  <a href="/admin/customers/" ><h5 class="bg-info">Список всех</h5></a>
  <a href="/admin/customers/my"><h5 class="bg-info">Я ответственный</h5></a> 
  <a href="/admin/customers/managers"><h5 class="bg-info">Менеджеры</h5></a> <br>
  
  <a ><h3 class="bg-primary">Бренды</h3></a>
  <a href="/admin/settings/brand_add" ><h5 class="bg-info">Добавить бренд</h5></a>
  
  <a href="/admin/settings/showbrands" ><h5 class="bg-info">Список  брендов</h5></a>
  <br>
  
  <a  ><h3 class="bg-primary">Стили</h3></a>
  <a href="/admin/settings/style_add" ><h5 class="bg-info">Добавить стиль</h5></a>
  <a href="/admin/settings/showstyles" ><h5 class="bg-info">Список стилей</h5></a> <br>
  
  <a ><h3 class="bg-primary">Категории</h3></a>
  <a href="/admin/settings/category_add"  ><h5 class="bg-info">Добавить категорию</h5></a>
  <a href="/admin/settings/showcategorys" ><h5 class="bg-info">Список категорий</h5></a> <br>
  
  <a ><h3 class="bg-primary">Товары</h3></a>
  <a href="/admin/settings/product_add" ><h5 class="bg-info">Добавить товар</h5></a>
  <a href="/admin/settings/showproducts"><h5 class="bg-info">Список товаров</h5></a> <br>
  
  <a ><h3 class="bg-primary">Новости</h3></a>
  <a href="/admin/settings/news_add" ><h5 class="bg-info">Добавить новость</h5></a>
  <a  href="/admin/settings/shownews" ><h5 class="bg-info">Список новости</h5></a> <br>
  
  <a ><h3 class="bg-primary">Материалы</h3></a>
  <a href="/admin/settings/content_add"><h5 class="bg-info">Добавить материалы</h5></a>
  <a href="/admin/settings/showcontents" ><h5 class="bg-info">Список материалов</h5></a> <br>
  
  <a ><h3 class="bg-primary">Меню</h3></a>
  <a href="/admin/settings/menu_add" ><h5 class="bg-info">Добавить меню</h5></a>
  <a href="/admin/settings/showmenu" ><h5 class="bg-info">Список меню</h5></a> <br>
  
  <a href="/admin/settings/editadmin"  ><h3 class="bg-primary">Изменить настройки</h3></a>
  
  
 </div>  
   
   
   
   
   
   
